img {
    max-width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    width: 100% !important;
    height: 100%;
    line-height: 1.6em;
    background-color: #f6f6f6;
}

.btn,
.button {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    background-color: #348eda;
    margin: 0;
    border-color: #348eda;
    border-style: solid;
    border-width: 10px 20px;
}

.btn-block,
.button-block {
    width: 100%;
}

.btn-secondary,
.button-secondary {
    color: #348eda;
    background-color: #ffffff;
    border-color: #bbbbbb;
}

h1 {
    font-weight: 800 !important;
    margin: 20px 0 5px !important;
}

h2 {
    font-weight: 800 !important;
    margin: 20px 0 5px !important;
}

h3 {
    font-weight: 800 !important;
    margin: 20px 0 5px !important;
}

h4 {
    font-weight: 800 !important;
    margin: 20px 0 5px !important;
}

h1 {
    font-size: 22px !important;
}

h2 {
    font-size: 18px !important;
}

h3 {
    font-size: 16px !important;
}

pre {
    font-size: 12px;
    white-space: pre-wrap;
    word-break: break-word;
    background: #f5f5f5;
    border-radius: 4px;
    margin: 20px 0 5px;
    padding: 10px;
}

.container {
    padding: 0 !important;
    width: 100% !important;
}

.content {
    padding: 0 !important;
}

.content-wrap {
    padding: 10px !important;
}

.content-wrap .table {
    border: 1px solid #bbbbbb;
    width: 100%;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.content-wrap .table tbody tr td {
    padding: 0.5rem;
}

.content-wrap .table.table--list tbody tr td {
    border-bottom: 1px solid #eeeeee;
}

.content-wrap .table.table--list tbody tr td:first-child {
    width: 1%;
    white-space: nowrap;
    background: #cccccc;
    border-right: 3px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    padding-right: 1rem;
    vertical-align: top;
    font-weight: bold;
}

.content-wrap .table.table--list tbody tr:last-child td {
    border-bottom: 1px solid #bbbbbb;
}

.content-wrap .table.table--numeric tbody tr td + td {
    text-align: center;
}

@media only screen and (max-width: 640px) {
    body {
        padding: 0 !important;
    }
}
